.property{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:80px 60px;
  background:#061a2b;
  color:white;
  gap:40px;
}

/* LEFT */
.property-left{
  max-width:420px;
}

.property-left h2{
  font-size:42px;
  margin-bottom:15px;
}

.property-left p{
  opacity:0.8;
  margin-bottom:25px;
}

/* arrows */
.arrows button{
  width:45px;
  height:45px;
  border-radius:50%;
  border:none;
  margin-right:10px;
  font-size:18px;
  cursor:pointer;
}

/* RIGHT */
.property-right{
  display:flex;
  gap:25px;
}

.p-card{
  background:#e9e9e9;
  color:#000;
  padding:30px;
  border-radius:14px;
  text-align:center;
  width:180px;
  transition:0.3s;
}

.p-card img{
  width:60px;
  margin-bottom:15px;
}

.p-card:hover{
  transform:translateY(-8px);
  box-shadow:0 15px 30px rgba(0,0,0,0.25);
}